$responsive-breakpoints: (
  'sm': 540px,
  'md': 720px,
  'lg': 960px,
  'xl': 1140px,
) !default;

/* Base styles */
$page-bg:                       #fff;
$base-color:                    rgba(51, 51, 51, 1);
$secondary-color:               rgba(51, 51, 51, 0.5);
$highlight-color:               rgba(255, 54, 154, 255);
$basic-box-shadow-color:        rgba(51, 51, 51, 0.5);
$basic-border-color:            rgba(51, 51, 51, 0.1);
$link-color:                    rgba(1, 164, 248, 255);

/* Form components */
$base-input-color:                rgba(51, 51, 51, 1);
$base-input-border-weight:        1px;
$base-input-border-color:         rgba(51, 51, 51, 0.5);
$base-input-border-color-active:  rgba(51, 51, 51, 1);
$base-input-color-error:          rgba(255, 18, 10, 1);